__pycache__/
*.pyc
.env
.env.*
.zshrc.local
.gitconfig.local
home/dot_zshrc.local
home/dot_gitconfig.local
home/dot_config/tmux/local.conf
home/dot_config/tmux/plugins/
home/dot_config/tmux/resurrect/
home/dot_config/nvim/local.lua
home/dot_config/nvim/lua/plugins/local.lua
