{{- $role := promptChoiceOnce . "role" "Machine role" (list "workstation" "server") "workstation" -}}
{{- $workstation := eq $role "workstation" -}}
{{- $zsh := promptBoolOnce . "zsh" "Manage Zsh" $workstation -}}
{{- $git := promptBoolOnce . "git" "Manage Git" true -}}
{{- $tmux := promptBoolOnce . "tmux" "Manage tmux" true -}}
{{- $nvim := promptBoolOnce . "nvim" "Manage Neovim" $workstation -}}
sourceDir = {{ .chezmoi.workingTree | quote }}

[data]
role = {{ $role | quote }}
zsh = {{ $zsh }}
git = {{ $git }}
tmux = {{ $tmux }}
nvim = {{ $nvim }}
{{ range $app := list "bat" "btop" "eza" "ghostty" "hyprland" "sway" "uwsm" "wireplumber" "dolphin" }}
{{ $app }} = {{ promptBoolOnce $ $app (printf "Manage %s" $app) false }}
{{ end }}
